* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.head-banner {
    background-color: #075e54;
    text-align: center;
    padding: 10px 0;
}

.head-banner h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #dcf8c6;
    color: #333;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 10px 10px auto;
    max-width: 70%;
    word-wrap: break-word;
}

form {
    display: flex;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 5px;
    font-size: 16px;
}

button {
    background-color: #128c7e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
}

@media only screen and (max-width: 414px) {
    .head-banner h1 {
        font-size: 1.5rem;
    }

    form {
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;
        align-items: center;
        bottom: 0;
    }

    input[type="text"] {
        flex: 1 1 70%;
        max-width: 70%;
    }

    button {
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        padding: 0;
        border-radius: 50%;
    }

    li {
        max-width: 70%;
    }
}
